
*.csv
Визуализация данных в Matplotlib/3_Визуализация_данных_в_Matplotlib.ipynb
Визуализация данных в Matplotlib/housing (1).xls
Визуализация данных в Matplotlib/поменять масштаб графики 'svg'.jpg
Визуализация данных в Matplotlib/установить формат 'svg' 'inline'.jpg
Вычисления с помощью Numpy.  Работа с Pandas/.ipynb_checkpoints/Lesson 2-checkpoint.ipynb
Вычисления с помощью Numpy.  Работа с Pandas/Lesson 2.ipynb
Вычисления с помощью Numpy.  Работа с Pandas/.ipynb_checkpoints/Lesson 1-checkpoint.ipynb
Вычисления с помощью Numpy.  Работа с Pandas/.ipynb_checkpoints/Lesson 1-checkpoint.ipynb
